<p id="notice"><%= notice %></p>

<h1>Listing Blogposts</h1>



  <div class ="row">
    <% @blogposts.each do |blogpost| %>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
        <%= link_to blogpost.title, blogpost %>
      </div>
      <div class="panel-body">
        by <%= link_to blogpost.user.username,user_posts_path(id: blogpost.user.id) %>
        <%= blogpost.created_at.strftime('%m/%d/%Y at %I:%M%p') %><br>
        <p><%= blogpost.blog_entry[0..250] %>...[<%= link_to "Read More", blogpost %>]<p/>
        </div>
        <div class="panel-footer">
          <% if current_user.id == blogpost.user.id %>
        
        <%= link_to 'Edit', edit_blogpost_path(blogpost), class: "btn btn-warning" %>
        <%= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        
        <% end %>
      </div>
      </div>
    </div>
    <% end %>
  </div>

  


<br>

<%= link_to 'New Blogpost', new_blogpost_path %>
